<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">We're the best in our field, and it's all thanks to the incredible relationships we've formed with our clients. Unlike our competitors, we're invested in developing a personal connection with each and every one of our customers, by providing quality service and being available to you 24/7. Get in touch with us when you're ready to learn more; we can't wait to meet you!

                </p>
                <a href="#menu" class="btn btn-primary btn-xl page-scroll">View our menu!</a> 
            </div>
        </div>
    </div>
</section>
