<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-lg-offset-1 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Wish to order early, or have a question? Reach out to us using the methods below!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://www.yelp.com/biz/black-and-white-coffee-pleasanton?osq=small+business">
                <i class="fa fa-4x fa-brands fa-yelp wow bounceIn text-primary" data-wow-delay=".1s"></i>
                <h4>Yelp</h4>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center text-primary">
            <a href="mailto:{{ theblackandwhitecoffee@gmail.com }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <h4>Email</h4>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="">
            <i class="fa fa-solid fa-phone fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <h4>Call: 650-863-3600</h4>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://www.instagram.com/blackandwhitecoffeeinc/">
            <i class="fa fa-brands fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <h4>Instagram</h4>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.doordash.com/store/black-and-white-coffee-pleasanton-23524009/">
            <i class="fa fa-solid fa-car fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <h4>Doordash</h4>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://food.google.com/chooseprovider?restaurantId=/g/11s462nl72&g2lbs=AL1YbfVTinhlrlxbHjPkYu9SHep7EuMxh2TKR5Km-4PRLL-UxFCAYaM-tWb7l1F5P56h-GrGULbNAZitQoZ5rCg3a_GONAKwxnKGTUzl_7nfZ75yOBar8ovhID-kYH77U-JLKpXuCaDQ&hl=en-US&gl=us&cs=1&ssta=1&fo_m=MfohQo559jFvMWwP9igWZeWQMczq7voErUdXMWvkddHzV46uMT_RFPQ05bfKMQVr5-7IofUJMU_hT8vrWuwRMUv3d8yCO4PgMUOzJVpjPL1YMfaXTPp5KXh-&gei=C0rtYriCNd7ZkPIPtb-siAo&fo_s=OA,AH&orderType=2&sei=Cd5ebxGiVoGCEZ58qqQzXHtf&utm_campaign&utm_source=search">
            <i class="fa fa-brands fa-google fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <h4>Google</h4>
            </a>
        </div>
    </div>
</section>
