<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Designed by Advay B.</a>
                    </li>
                    <li><a href="#">4299 Valley Ave, Pleasanton CA</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>