<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Joy W.
                            </div>
                            <div class="project-name">
                                Great people, Great prices, great drinks!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Rody D.
                            </div>
                            <div class="project-name">
                                Really great place, awesome staff, great drink!
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Natalie G.
                            </div>
                            <div class="project-name">
                                I had the lavender milk tea, and it was so good! The two people working at the shop were super friendly. I can’t wait to come back.

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Sanjit M.
                            </div>
                            <div class="project-name">
                                We stopped by on Saturday and bought three. They were all delicious!! They are small drive-thru, you need to wait a little, but it is worth it. The staff was very friendly and they worked to make sure they got the order right.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Brittany M.
                            </div>
                            <div class="project-name">
                                Absolutely love this place!  Been several times already and plan to be back even more.  Highly recommend the Creme Brule Okinawa, never had it before and it's my new favorite.  Really nice owner, you can tell he's really trying to make an effort on a great experience everytime.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Tri-Valley Karate
                            </div>
                            <div class="project-name">
                                We stopped by after karate class. 🥋 Everyone was happy! 😋 Great value too.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
